.form-search {
    padding: 40px 0px;
    h1 {
        float: left;
        font-size: 18px;
    }
    #input-search {
        float: right;
        border: 1px solid blue;
        border-radius: 5px;
        height: 40px;
        width: 300px;
        font-size: 18px;
    }
}